* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Shared Style */
.btn-container {
  text-align: center;
}
.btn {
  padding: 14px 21px;
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: rgb(82, 195, 3);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.btn-head:hover {
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 195, 3);
}

/* Main Section */

/* Hero Section */
#hero {
  width: auto;
  height: 412px;
  background: linear-gradient(
      0deg,
      rgb(9, 9, 9) 2.884%,
      rgba(16, 16, 16, 0) 101.034%
    ),
    url(../images/hero-bg.png);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero-content {
  width: 685px;
  margin: 0 auto;
  padding: 10px;
}
#hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 21px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  margin-bottom: 11px;
}
#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 43px;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  margin-bottom: 16px;
}
#hero .hero-content .description {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 21px;
}

/* Card-Box-Section */
#card-box {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 130px;
}
#card-box .subtitle {
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}
.card-container {
  margin: 0 auto;
  margin: 32px 0 42px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container .card {
  max-width: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}
.card .image-box {
  width: 284px;
}
.card .image-box img {
  object-fit: contain;
  width: 100%;
}
.card .shop {
  padding: 10px 21px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}

/* About Us Section */
#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
}
.image-container {
  width: 400px;
}
.image-container img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
}
.about-us-info {
  text-align: center;
}
.about-us-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.about-us-description {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #101010;
}
.follow-us {
  font-size: 20px;
  font-weight: 600;
}
.social-media {
  margin-top: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#about-us-last {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../images/social-bg.png);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding: 90px;
  margin: 0 auto;
}
.line {
  width: 800px;
  border: solid 0.5px rgb(211, 200, 200);
  margin: 0 auto;
}

/* Responsive Style Section */

/* Responsive styling for small size device */
@media screen and (max-width: 576px) {
  /* Hero Section */
  #hero .hero-content .subtitle {
    font-size: 15px;
    line-height: 21px;
  }
  #hero .hero-content .title {
    font-size: 25px;
    line-height: 34px;
  }
  #hero .hero-content .description {
    font-size: 10px;
    line-height: 14px;
  }

  /* Card Box Section */
  #card-box .subtitle {
    font-size: 15px;
    margin-bottom: 5px;
  }
  #card-box .title {
    font-size: 25px;
    line-height: 24px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-container .card {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .card .image-box {
    width: 260px;
  }

  /* About Us Section */
  #about-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #about-us-last {
    padding: 0px;
  }

  .image-container {
    width: 350px;
  }
  .line {
    width: 200px;
    border: solid 0.5px rgb(211, 200, 200);
    margin: 0 auto;
  }
  .about-us-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  #about-us-last {
    padding: 20px 0 20px 0;
  }
}

/* Responsive styling for medium size device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #hero .hero-content .subtitle {
    font-size: 20px;
    line-height: 26px;
  }
  #hero .hero-content .title {
    font-size: 30px;
    line-height: 39px;
  }
  #hero .hero-content .description {
    font-size: 15px;
    line-height: 19px;
  }

  /* Card Box Section */
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-container .card {
    margin-bottom: 35px;
    margin-right: 0;
  }

  /* About Us Section */
  #about-us {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #about-us-last {
    padding: 0px;
  }
  .line {
    width: 500px;
    border: solid 0.5px rgb(211, 200, 200);
    margin: 0 auto;
  }
}
